:root {
    --background-color: #f1f3f4;
    --text-color: #2a7886;
    --primary-color: #79bac1;
    --active-color: #4a9ab4;
  }
  
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
    width: 100%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  header {
    width: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    transform: translateY(100%);
    transition: top 0.5s, transform 0.5s;
    background-color: var(--background-color);
  }
  
  #search-bar {
    background-color: var(--background-color);
    border: none;
    text-align: center;
    font-size: xx-large;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    transition: width 0.5s, font-size 0.5s, padding 0.5s;
    caret-color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  header.active {
    transform: translateY(0);
    justify-content: center;
    top: 10%;
  }
  
  header.active #search-bar {
    width: 100%;
    max-width: 400px;
    font-size: 24px;
    padding: 5px;
  }
  
  header input {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-color);
    transition: width 0.5s, font-size 0.5s;
  }
  
  header.active input {
    width: 60%;
    max-width: 400px;
    font-size: 14px;
  }
  
  .content {
    flex: 1;
    width: 100%;
    padding: 15px;
    background-color: var(--background-color);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: padding 0.5s;
  }
  
  .content.active {
    padding: 70px 15px 15px;
  }
  
  #ayah-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
 }

 #ayah-container p {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }

 .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
 }
  
  .card.maximized {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .card .ayah-text {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  
  .card.maximized .ayah-text {
    font-size: 36px;
  }
  
  .card.maximized .ayah-translation {
    font-size: 24px;
  }
  
  .card.maximized .verse-number {
    font-size: 16px;
  }
  
  .card .ayah-translation {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .card .verse-number {
    margin-top: 15px;
    font-size: 12px;
    color: #999;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .content{
      box-sizing: border-box;
    }
    header input {
      width: 100%;
    }
    #search-bar {
      font-size: x-large;
    }
    .card.maximized {
      top: 25%;
      left: 48%;
      overflow: scroll;
      max-width: 500px;
      height: 500px;
    }
    .card {
      margin: 2px 10px;
    }
    #ayah-container {
      height: 80%;
    }
    nav{
        width: 100%;
        font-size: small;
    }


  }
  #search-bar::placeholder {
    color: var(--text-color);
  }
  header #search-bar {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 1px; /* Adjust as needed */
    animation: blink-caret 0.5s step-end infinite;
  }
  nav {
    top: 0;
    position: absolute;
    color: var(--text-color);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    z-index: 1001;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  a {
    text-decoration: none;
    color: var(--active-color);
  }
  h3 {
    padding: 0px 12px;
  }
  h3:hover {
    cursor: pointer;
  }
  